.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width:768px) {
    .tag {
        width: 180px;
        height: 180px;
        background: greenyellow;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .tag {
        width: 180px;
        height: 180px;
        background: darkmagenta;
    }
}

@media screen and (min-width:1024px) {
    .tag {
        width: 180px;
        height: 180px;
        background: pink;
    }
}