* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

/* ========================================= */
/* HEADER */
/* ========================================= */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

/* ========================================= */
/* HEADER - title */
/* ========================================= */
header .title {
  margin-right: 50px;
  font-size: 45px;
}

/* ========================================= */
/* HEADER - button */
/* ========================================= */
header .button {
  display: flex;
  justify-content: flex-start;
}

.button button {
  border: 1px solid black;
  width: 250px;
  height: 50px;
  margin-right: 10px;
  font-size: 20px;
}

.button button:hover {
  background-color: skyblue;
  cursor: pointer;
}

/* ========================================= */
/* pltsiz */
/* ========================================= */
.pltsiz {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  padding: 5px 10px;
}

.pltsiz .title {
  font-size: 25px;
  margin-right: 25px;
}

.select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.select label {
  margin-right: 25px;
}

/* ========================================= */
/* pltdata */
/* ========================================= */
.pltdata {
  margin-top: 40px;
}

.pltdata table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

table caption {
  font-size: 25px;
}

th,
td {
  padding: 15px 20px;
  margin: auto;
  border: 2px solid grey;
}

/* ========================================= */
/* packdata */
/* ========================================= */
.packdata {
  margin-top: 40px;
}

.packdata table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

table caption {
  font-size: 25px;
}

th,
td {
  padding: 15px 20px;
  margin: auto;
  border: 2px solid grey;
}
